html, body {
    height:100%;
}

.container {
    height:100%;
}

.navbar {
    background: #2d3e50;
    width: 100%;
    position: fixed;
}

.pure-menu-link {
    color: white;
}

.pure-menu-heading {
    font-size: 20px;
    color: white;
}

.pure-menu-link:hover {
    color: #2d3e50;
}

.pure-button-primary {
    margin: 3px;
}

.menu {
    position: relative;
    width: 80%;
} 

.login {
    float: right;
    background: #8da5bf;
    padding: 5px 5px;
    margin-bottom: 30px;
}

.content {
    margin: 0 auto;
    width: 80%;
    padding-top: 45px;
}

.message-success, .message-warning, .message-error, .message-info{
    padding: 5px 5px;
}

.message-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.message-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.message-error {
    color: #D8000C;
    background-color: #FFBABA;
}

.message-info {
    color: #00529B;
    background-color: #BDE5F8;
}

.box {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pure-textarea {
    width: 100%;
}
