<!doctype html>
<html lang="pl">
<head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="pure-menu pure-menu-horizontal">
            <a href="home" class="pure-menu-heading pure-menu-link">Bruk&Trawnik</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a class="pure-menu-link" href="order">Zamów</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="my_orders">Moje zamówienia</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="expert_panel">Panel rzeczoznawcy</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="inspector_panel">Panel inspektora</a></li>
            </ul>
        </div>
    </div>


    <div class="content">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="message-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="login">
    {% if not session.login %}
        <form class="pure-form" action="login" method="post">
            <input type="text" placeholder="login" name="login">
            <input type="password" placeholder="hasło" name="password">
            <input type="hidden" name="next" value="{% block next %}{% endblock %}">
            <input class="pure-button pure-button-primary" type="submit" value="Zaloguj się">
        </form>
    {% else %}
    <div class="login-text">
    Jesteś zalogowany jako <b>{{ session.login }}</b>. <a class="pure-button pure-button-primary" href="logout">Wyloguj się</a>
    </div>
    {% endif %} 
    </div>

    {% block content %}
    {% endblock %}
    </div>
</div>
</body>
</html>
