{% extends "base.html" %}

{% block next %}expert_panel{% endblock %}


{% block content %}
{% if not session.login %}
<div class="box">
<p>Zaloguj się, aby uzyskać dostęp</p>
</div>
{% else %}
{% if rows %}
<div class="box">
    <h2>Nowe zamówienia:</h2>
    <hr>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Data</th>
                <th>Treść</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.klient }}</td>
                <td>{{ row.data }}</td>
                <td>{{ row.tresc|truncate }}</td>
                <td><a href="expert_panel_order_{{ row.id }}" class="pure-button pure-button-primary">Zarządzaj kosztorysem</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endif %}
{% endblock %}
