{% extends "base.html" %}

{% block next %}expert_panel{% endblock %}

{% block content %}
{% if not session.login %}
<div class="box">
<p>Zaloguj się, aby uzyskać dostęp</p>
</div>
{% else %}
{% if order %}
<div class="box">
    <h2>Szczegóły zamówiena nr {{ order.id }}</h2>
    <hr>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.klient }}</td>
                <td>{{ order.data }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Treść zamówienia</h2>
        <p>{{ order.tresc }}</p>
    <h2>Sporządź kosztorys</h2>

    <div class="pure-g">
        <div class="pure-u-1-2">
            <form class="pure-form" action="insert_work" method="post">
                <fieldset>
                    <legend>Dodaj pracę do kosztorysu</legend>
                    <select name="work">
                    {% for work in available_works %}
                        <option value="{{ work.nazwa }}">{{ work.nazwa }}</option>
                    {% endfor %}
                    </select>
                    <input type="number" name="koszt" value=0.00>
                    <input type="hidden" name="id" value="{{ order.id }}">
                    <input class="pure-button pure-button-primary" type="submit" value="Dodaj pracę">
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-2">
            <form class="pure-form" action="add_work" method="post">
                <fieldset>
                    <legend>Stwórz nowy rodzaj pracy</legend>
                    <input type="text" name="work" placeholder="Nazwa pracy">
                    <input type="hidden" name="id" value="{{ order.id }}">
                    <input class="pure-button pure-button-primary" type="submit" value="Stwórz">
                </fieldset>
            </form>
        </div>
    </div>
    {% if current_works %}
    <table class="pure-table pure-table-bordered" style="width: 100%">
        <thead>
            <th>Praca</th>
            <th>Cena</th>
            <th>Akcja</th>
        </thead>
        <tbody>
        {% for work in current_works %}
            <tr>
                <td>{{ work.praca }}</td>
                <td>{{ work.koszt }}</td>
                <td>
                    <form method="post" action="delete_work">
                        <input name="id" type="hidden" value="{{ order.id }}">
                        <input name="work" type="hidden" value="{{ work.praca }}">
                        <input type="submit" value="Usuń">
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
    <form class="pure-form" action="update_status" method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{ order.id }}">
            <input type="hidden" name="status" value="Oczekuje na klienta">
            <input type="hidden" name="next" value="expert_panel">
            <input type="hidden" name="message" value="Kosztorys został zatwierdzony.">
            <input class="pure-button pure-button-primary" type="submit" value="Zatwierdź kosztorys i przekaż klientowi">
        </fieldset>
    </form>
    {% else %}
    <p>Kosztorys na razie jest pusty. Dodaj jakieś pozycje.</p>
    {% endif %}
    
</div>
{% endif %}
{% endif %}
{% endblock %}
