{% extends "base.html" %}

{% block next %}index{% endblock %}

{% block content %}
<div class="box">
{% if not session.login %}
    <h1>Witaj na stronie Bruk&Trawnik!</h1>
    <p>Zaloguj sie, aby uzyskać pełny dostęp do strony</p>
{% else %}
    Witaj, {{ session.name }} {{ session.surname }}.
{% endif %}
</div>
{% endblock %}
