{% extends "base.html" %}

{% block next %}inpsector_panel{% endblock %}

{% block content %}
{% if not session.login %}
<div class="box">
<p>Zaloguj się, aby uzyskać dostęp</p>
</div>
{% else %}
{% if order %}
<div class="box">
    <h2>Szczegóły zamówiena nr {{ order.id }}</h2>
    <hr>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Data</th>
                <th>Przydzielony rzeczoznawca</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.klient }}</td>
                <td>{{ order.data }}</td>
                <td>{% if order.rzeczoznawca %}{{ order.rzeczoznawca }}{% else %}Brak{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <h2>Treść zamówienia</h2>
        <p>{{ order.tresc }}</p>
    <h2>Kosztorysy pasujące do podanej treści</h2>
    {% if estimates %}
    <div class="pure-g">
    {% for estimate in estimates %}
        <div class="pure-u-1-3">
            <table class="pure-table">
                <thead>
                    <tr>
                        <td>Kosztorys</td>
                    </tr>
                </thead>
                <tbody>
                {% for work in estimate.works %} 
                    <tr>
                        <td>{{ work }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="post" action="copy_order" class="pure-form">
                <fieldset>
                <input type="hidden" name="old_order_id" value="{{ estimate.id }}">
                <input type="hidden" name="new_order_id" value="{{ order.id }}">
                <input type="submit" value="Wybierz" class="pure-button pure-button-primary">
                </fieldset>
            </form>
        </div>
    {% endfor %}
    </div>
    {% else %}
        <p>Brak pasujących Kosztorysów</p>
    {% endif %}
    <h2>Dostępni rzeczoznawczy</h2>
    <form class="pure-form" action="update_expert" method="post">
        <fieldset>
            <select name="expert">
                {% for expert in experts %}
                <option value={{ expert.login }}>{{ expert.imie }} {{ expert.nazwisko }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="id" value="{{ order.id }}">
            <input type="submit" class="pure-button pure-button-primary" value="Wybierz">
        </fieldset>
    </form>
</div>
{% endif %}
{% endif %}
{% endblock %}
