{% extends "base.html" %}

{% block next %}inspector_panel{% endblock %}

{% block content %}
{% if not session.login %}
<div class="box">
<p>Zaloguj się, aby uzyskać dostęp</p>
</div>
{% else %}
{% if new_orders %}
<div class="box">
    <h2>Nowe zamówienia:</h2>
    <hr>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Data złożenia</th>
                <th>Treść</th>
                <th>Rzeczoznawca</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for order in new_orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.klient }}</td>
                <td>{{ order.data }}</td>
                <td>{{ order.tresc|truncate }}</td>
                <td>{% if order.rzeczoznawca %}{{ order.rzeczoznawca }}{% else %}Nie przydzielono{% endif %}
                <td>
                    <a class="pure-button pure-button-primary" href="inspector_panel_order_{{ order.0 }}">Zarządzaj zamówieniem</a>
                    {% if order.rzeczoznawca %}
                    <form method="post" action="update_status">
                        <input type="hidden" name="id" value="{{ order.id }}">
                        <input type="hidden" name="status" value="W trakcie">
                        <input type="hidden" name="next" value="inspector_panel">
                        <input type="hidden" name="message" value="Zamówienie zostało przekazane rzeczoznawcy.">
                        <input type="submit" class="pure-button pure-button-primary" value="Przekaż zamówienie rzeczoznawcy">
                    </form>    
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if exp_orders %}
<div class="box">
    <h2>Zamówienia oczekujące na utworzenie kosztorysu:</h2>
    <hr>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Data złożenia</th>
                <th>Treść</th>
                <th>Rzeczoznawca</th>
            </tr>
        </thead>
        <tbody>
        {% for order in exp_orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.klient }}</td>
                <td>{{ order.data }}</td>
                <td>{{ order.tresc|truncate }}</td>
                <td>{{ order.rzeczoznawca }}</td>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if cur_orders %}
<div class="box">
    <h2>Zamówienia oczekujące na akceptację klienta:</h2>
    <hr>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Data złożenia</th>
                <th>Treść</th>
                <th>Rzeczoznawca</th>
            </tr>
        </thead>
        <tbody>
        {% for order in cur_orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.klient }}</td>
                <td>{{ order.data }}</td>
                <td>{{ order.tresc|truncate }}</td>
                <td>{{ order.rzeczoznawca }}</td>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if old_orders %}
<div class="box">
    <h2>Zamówienia archiwalne</h2>
    <hr>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Data złożenia</th>
                <th>Data realizacji</th>
                <th>Treść</th>
                <th>Rzeczoznawca</th>
            </tr>
        </thead>
        <tbody>
        {% for order in old_orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.klient }}</td>
                <td>{{ order.data_zlozenia }}</td>
                <td>{{ order.data_realizacji }}</td>
                <td>{{ order.tresc|truncate }}</td>
                <td>{{ order.rzeczoznawca }}</td>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endif %}
{% endblock %}
