{% extends "base.html" %}

{% block next %}my_orders{% endblock %}

{% block content %}
<div class="box">
{% if not session.login %}
<p>Zaloguj się, aby obejrzeć swoje zamówienia</p>
{% else %}
<h2>Moje zamówienia</h2>
<hr>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Treść</th>
            <th>Status</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.data }}</td>
        <td>{{ row.tresc|truncate }}</td>
        <td>{{ row.status }}</td>
        <td>{% if row.status == 'Złożone' %}
            <form method="post" action="remove_order">
                <input type="hidden" name="order" value="{{ row.id }}">
                <input type="submit" class="pure-button pure-button-primary" value="Usuń zamówienie">
            </form>
        {% elif row.status == 'Oczekuje na klienta' %}
            <a href="order_{{ row.id }}" class="pure-button pure-button-primary">Przeglądaj kosztorys</a>
            <form method="post" action="update_status">
                <input type="hidden" name="id" value="{{ row.id }}">
                <input type="hidden" name="status" value="Przekazane do realizacji">
                <input type="hidden" name="next" value="my_orders">
                <input type="hidden" name="message" value="Zamówienie zostało przekazane kierownikowi robót.">
                <input type="submit" class="pure-button pure-button-primary" value="Zaakceptuj kosztorys">
            </form>
        {% else %}Brak dostępnych akcji.
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}
