{% extends "base.html" %}

{% block next %}expert_panel{% endblock %}

{% block content %}
{% if not session.login %}
<div class="box">
<p>Zaloguj się, aby uzyskać dostęp</p>
</div>
{% else %}
{% if rows %}
<div class="box">
    <h2>Szczegóły zamówiena</h2>
    <hr>
    <form class="pure-form" action="update_order" method="post">
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Praca</th>
                <th>Koszt</th>
                <th>Realizować?</th>
            </tr>
        </thead>
        <tbody>
                <fieldset>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.praca }}</td>
                        <td>{{ row.koszt }}</td>
                        <td>
                            <input type="checkbox" name="selected" value="{{ row.praca }}" {% if row.zrealizowane %}checked{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
                </fieldset>
        </tbody>
    </table>
    <input type="hidden" name="order" value="{{ rows.0.zamowienie }}">
    <input type="submit" class="pure-button pure-button-primary" value="Zatwierdź kosztorys">
    </form>
</div>
{% endif %}
{% endif %}
{% endblock %}
