{% extends "base.html" %}

{% block next %}order{% endblock %}

{% block content %}
<div class="box">
{% if not session.login %}
<p>Zaloguj się, aby złożyć zamówienie</p>
{% else %}
<h2>Złóż zamówienie</h2>
<hr>

{% if active %}
<form class="pure-form pure-form-stacked" action="add_order" method="post">
    <fieldset>
        <textarea class="pure-textarea" name="order" rows="10" placeholder="Tutaj wpisz treść zamówienia"></textarea>
        <input class="pure-button pure-button-primary" type="submit" value="Wyślij zapytanie o kosztorys">
    </fieldset>
</form>
{% else %}
Nie posiadasz konta klienta, ale z racji tego, że jesteś pracownikiem, możesz je łatwo założyć.
<form method="post" action="add_user" class="pure-form">
    <input type="submit" class="pure-button pure-button-primary" value="Chcę utworzyć konto klienta">
</form>
{% endif %}

{% endif %}
</div>
{% endblock %}
